<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold"><%= title %></h1>
      <p class="py-6"><%= text %></p>
      <%= render "layouts/alerts" %>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
