<header class="navbar mb-8 px-0">
  <div class="flex-1">
    <input type="search" name="search" id="search" placeholder="Search" class="input bg-base-content/10">
  </div>
  <div class="gap-4">
    <label for="drawer-checkbox" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>
    <%= link_to "N", "#", class: "w-8 h-8 rounded-full bg-green-600 grid place-items-center" %>
    <%= link_to "M", "#", class: "w-8 h-8 rounded-full bg-orange-600 grid place-items-center" %>
    <label for="new_post_modal" class="btn btn-primary modal-button">Add Photo</label>
  </div>
</header>
